<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email Dashboard</title>
    <link rel="stylesheet" href="/css/bulma-0.7.2.min.css">
    <script defer src="/js/vue-2.5.17.min.js"></script>
    <script defer src="/js/fontawesome-5.5.0.min.js"></script>
    <script defer src="/js/postfix-web-0.0.1.js"></script>
  </head>
  <body class="">
    <!-- Navigation -->

    <!-- Hero -->
    <section class="hero is-warning is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <div>
                  <h1 class="title is-1 is-spaced">Email Setup</h1>
                  <h2 class="subtitle is-3">Manage all your email forwards</h2>
                </div>
              </div>
            </div>
            <div class="level-right">
              <figure class="level-item image" style="width:128px;height:128px">
                <img src="/images/hero.svg">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Content -->
    <div id="email-app">
      <section class="section" v-for="domain in domains">
        <div class="container">
          <h2 class="title is-2">{{ domain.name }}</h2>

          <!-- Existing Email Forwards -->
          <div class="columns" v-for="email in domain.emails">

            <!-- From Email Address -->
            <div class="column is-5">
              <div class="field has-addons">
                <p class="control"><a class="button is-medium is-static">From</a></p>
                <p class="control has-icons-left is-expanded">
                  <input class="input is-medium" type="email" placeholder="Email" v-model="email.from">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>

            <!-- From Email Address -->
            <div class="column is-5">
              <div class="field has-addons">
                <p class="control"><a class="button is-medium is-static">To</a></p>
                <p class="control has-icons-left is-expanded">
                  <input class="input is-medium" type="email" placeholder="Email" v-model="email.to">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>

            <!-- Update -->
            <div class="column is-1">
              <button class="button is-info is-medium is-fullwidth">
                <span class="icon is-small">
                  <i class="fas fa-pen"></i>
                </span>
              </button>
            </div>

            <!-- Delete -->
            <div class="column is-1">
              <button class="button is-danger is-medium is-fullwidth">
                <span class="icon is-small">
                  <i class="fas fa-trash"></i>
                </span>
              </button>
            </div>

          </div>

          <!-- New Email Forward -->
          <div class="columns">

            <!-- From Email Address -->
            <div class="column is-5">
              <div class="field has-addons">
                <p class="control"><a class="button is-medium is-static">From</a></p>
                <p class="control has-icons-left is-expanded">
                  <input class="input is-medium" type="email" placeholder="Email" v-model="domain.create.from">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>

            <!-- From Email Address -->
            <div class="column is-5">
              <div class="field has-addons">
                <p class="control"><a class="button is-medium is-static">To</a></p>
                <p class="control has-icons-left is-expanded">
                  <input class="input is-medium" type="email" placeholder="Email" v-model="domain.create.to">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>

            <!-- Create -->
            <div class="column is-2">
              <button class="button is-success is-medium is-fullwidth">
                <span class="icon is-small">
                  <i class="fas fa-plus"></i>
                </span>
              </button>
            </div>

          </div>

        </div>
      </section>
    </div>
  </body>
</html>
