<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aykroyd &mdash; Email Forwards</title>
    <link rel="stylesheet" href="/css/bulma-0.8.0.min.css">
    <script defer src="/js/lodash-4.17.15.min.js"></script>
    <script defer src="/js/fontawesome-5.11.2.min.js"></script>
    <script defer src="/js/axios-0.19.0.min.js"></script>
    <script defer src="/js/vue-2.6.10.min.js"></script>
    <script defer src="/js/aykroyd-2.1.0.js"></script>
  </head>
  <body>
    <!-- Hero -->
    <section class="hero is-warning is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <div>
                  <h1 class="title is-1 is-spaced">Email Setup</h1>
                  <h2 class="subtitle is-3">Manage all your email forwards</h2>
                </div>
              </div>
            </div>
            <div class="level-right is-hidden-mobile">
              <div class="level-item">
                <figure class="image is-128x128">
                  <img src="/images/hero.svg">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Content -->
    <div id="email-app">
      <section class="section" v-for="domain in domains">
        <div class="container">
          <h2 class="title is-2">{{ domain.name }}</h2>

          <!-- Existing email forwards -->
          <div class="columns" v-for="forward in domain.forwards">

            <!-- From -->
            <div class="column is-5">
              <div class="field has-addons">
                <p class="control"><a class="button is-medium is-static" style="width:80px">From</a></p>
                <p class="control has-icons-left is-expanded">
                  <input class="input is-medium" type="email" placeholder="Email" v-model="forward.from" readonly>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>

            <!-- To -->
            <div class="column is-5">
              <div class="field has-addons">
                <p class="control"><a class="button is-medium is-static" style="width:80px">To</a></p>
                <p class="control has-icons-left is-expanded">
                  <input class="input is-medium" type="email" placeholder="Email" v-model="forward.to">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>

            <div class="column is-2">
              <div class="columns is-mobile">

                <!-- Update -->
                <div class="column is-6">
                  <button class="button is-info is-medium is-fullwidth" v-on:click="updateForward(domain, forward, $event)" :disabled="forward.to == forward.toOriginal">
                    <span class="icon is-small">
                      <i class="fas fa-pen"></i>
                    </span>
                  </button>
                </div>

                <!-- Delete -->
                <div class="column is-6">
                  <button class="button is-danger is-medium is-fullwidth" v-on:click="deleteForward(domain, forward, $event)">
                    <span class="icon is-small">
                      <i class="fas fa-trash"></i>
                    </span>
                  </button>
                </div>

              </div>
            </div>

          </div>

          <!-- New email forward -->
          <div class="columns">

            <!-- From -->
            <div class="column is-5">
              <div class="field has-addons">
                <p class="control"><a class="button is-medium is-static" style="width:80px">From</a></p>
                <p class="control has-icons-left is-expanded">
                  <input class="input is-medium" type="email" placeholder="Email" v-model="domain.create.from">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>

            <!-- To -->
            <div class="column is-5">
              <div class="field has-addons">
                <p class="control"><a class="button is-medium is-static" style="width:80px">To</a></p>
                <p class="control has-icons-left is-expanded">
                  <input class="input is-medium" type="email" placeholder="Email" v-model="domain.create.to">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>

            <!-- Create -->
            <div class="column is-2">
              <button class="button is-success is-medium is-fullwidth"  v-on:click="createForward(domain, $event)" :disabled="!isNewForwardValid(domain)">
                <span class="icon is-small">
                  <i class="fas fa-plus"></i>
                </span>
              </button>
            </div>

          </div>

        </div>
      </section>

      <!-- Footer -->
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Aykroyd</strong> by <a href="https://github.com/tja" title="GitHub Profile" target="_blank" rel="noopener">Thomas Jansen</a>
            is licensed by <a href="http://opensource.org/licenses/mit-license.php" title="MIT License" target="_blank" rel="noopener">MIT</a>.
          </p>
          <p>
            Email icon made by <a href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha" target="_blank" rel="noopener">Pixel Buddha</a>
            from <a href="https://www.flaticon.com" title="Flaticon" target="_blank" rel="noopener">www.flaticon.com</a>
            is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" rel="noopener">CC 3.0 BY</a>.
          </p>
        </div>
      </footer>

    </div>
  </body>
</html>
